

h1 {
    color: green;
}

h2 {
    border: 2px solid red;
    color: pink;
}

.titulo {
    color: yellow;
}



/* As configurações aqui vazam pros outros componentes. Por isso precisamos utilizar classes específicas para estilizar */